.btn {
    &_standart {
        display: block;
        cursor: pointer;
        font-size: 16px;
        letter-spacing: 2px;
        padding: 17px 26px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        text-align: center;
        transition: all .2s;
        &_black {
            background-color: #2b2a27;
            color: #ffffff;
            border: solid 1px transparent;
            position: relative;
            overflow-x: hidden;
            &::before {
                transition: all .2s;
                position: absolute;
                top: 0;
                right: -100%;
                content: '';
                display: block;
                width: 100%;
                height: 110%;
                background: #ffd10a;
                border: 1px solid #ffd10a;

            }
            &:hover{
                
            }
        }
        &_yellow {
            color: #2b2a27;
            background-color: #ffd10a; 
            border: solid 1px transparent;
            &:hover{
                
            }
        }
        &_transparent {
            color: #2b2a27;
            border: solid 1px #242321;
            background-color: transparent; 
            &:hover{
                
            }
        }
    }
}
.btn_standart_black ::before {
    right: 0;
}

a.glo{
    color:#00c6ff;
    padding: 15px 20px;
    text-transform: uppercase;
    width:350px;
    text-decoration:none;
    text-align:center;
    margin:30px 0;
    display: block;
    background-image: linear-gradient(to left,transparent,transparent 50%,#00c6ff 50%,#00c6ff);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    font: 400 18px tahoma;
    border: 1px solid #00C6FF;
   }
   a.glo:hover {
   background-position: 0 0;
   color:#fff;
   }


@media (max-width: 430px) {
    .btn {
        &_standart {
            font-size: 14px;
            padding: 14px 15px;
        }
    }
}