{% extends "project/base.html" %}
{% load sw_content i18n %}
{% block styles %}
<link rel="stylesheet" href="/static/source/pages/about/index.css.map">
<link rel="stylesheet" href="/static/source/lib/select2/select2.min.css">
<link rel="stylesheet" href="/static/source/lib/fancybox/jquery.fancybox.min.css">
<link rel="stylesheet" href="/static/source/lib/slick/slick-theme.css">
<link rel="stylesheet" href="/static/source/lib/slick/slick.min.css">
<link rel="stylesheet" href="/static/source/pages/login/index.css">
<link rel="stylesheet" href="/static/source/pages/about/index.css">
{% endblock styles %}

{% block main_class %}
item_section__wrapper
{% endblock main_class %}

{% block content %}
<div class="bg_for_usually_page">
  <video class="eleek_video" data-src="/static/source/img/index/video.webm" autoplay muted poster="posterimage.jpg">
    Sorry, your browser doesn't support embedded videos, 
    but don't worry, you can <a href="/static/source/img/index/video.webm">download it</a>
    and watch it with your favorite video player!
  </video>
</div>
<section class="usually_section">
  <div class="drive_form__block">
    <div class="drive__form">
      <h3 class="drive_title main__title main__title_2 color_black">
        Про нас
      </h3>
      <div class="drive_subtitle sub_title sub_title_2 color_black">
        Елік – це наступний крок у вело-еволюції.
        Вже багато років у місті Тернополі функціонує електро-вело-майстерня, яка об’єднала під одним дахом справжніх професіоналів і просто фанатів легкого електротранспорту. Ми постійно розробляємо та тестуємо всілякі новинки, а також приймаємо активну участь в популяризації екотраспорту в Україні та за її межами.
      </div>
      <div class="drive_subtitle sub_title sub_title_2 color_black">
        За всі роки існування команії, ми здобули чималий досвід у розробці та виготовленні електротранспорту, із яким ділимося зі всіма зацікавленими.
      </div>
    </div>
    <div class="drive_map__block contact_map__block">
      <div class="eleek_title__wrap">
        <div class="eleek_title main__title main__title_4 color_black">
          Сертифікати
        </div>
        <div class="eleek_arrow__block">
          <div class="eleek_prev_arrow eleek_arrow">
              <img src="/static/source/img/index/combined-arrow.svg" alt="">
          </div>
          <div class="eleek_next_arrow eleek_arrow">
            <img src="/static/source/img/index/combined-arrow.svg" alt="">
          </div>
        </div>
      </div>
      <div class="doc_slider">
        {% for cert in '1111' %}
        <div class="doc_prof">
          <img src="/static/source/img/usually/{{cert}}.jpg" alt="{{cert.alt}}">
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="partners_block">
    <div class="partner_title__wrap">
      <div class="partners_title main__title main__title_3 color_black">
        Партнери
      </div>
      <div class="eleek_arrow__block partner_arrow">
        <div class="part_prev_arrow eleek_arrow">
            <img src="/static/source/img/index/combined-arrow.svg" alt="">
        </div>
        <div class="part_next_arrow eleek_arrow">
          <img src="/static/source/img/index/combined-arrow.svg" alt="">
        </div>
      </div>
    </div>
      <div class="partner_slider">
        {% for i in '123456123456' %}
        <div class="partner_prof">
          <img src="/static/source/img/usually/logo-{{i}}.png" alt="{{slider.alt}}">
        </div>
        {% endfor %}
      </div>
  </div>
  <div class="drive_form__block contact_form__block">
    <form action="" class="drive__form">
      <h3 class="drive_title main__title main__title_3 color_black">
        Контакти
      </h3>
      <div class="footer_input__wrap inp-vak-wrap">
        <label for="login_name" class="login_label label__style color_black">
          Ім'я
        </label>
        <input type="password" id="login_name" name="phone" class="login_name login_input input_focus">
      </div>
      <div class="footer_input__wrap inp-vak-wrap">
        <label for="login_tel" class="login_label label__style color_black">
          Телефон
        </label>
        <input type="password" id="login_tel" name="phone" class="login_tel login_input input_focus">
      </div>
      <div class="footer_input__wrap inp-vak-wrap">
        <label for="login_mail" class="login_label label__style color_black">
          E-mail
        </label>
        <input type="text" id="login_mail" name="email" class="login_mail login_input input_focus">
      </div>
      
      <div class="footer_input__wrap area_input__wrap inp-vak-wrap">
        <label for="drive_send" class="login_label label__style color_black">
          Повідомлення
        </label>
        <textarea name='drive_send' id="drive_send" class="login_input input_focus"></textarea>
      </div>
      <input type="submit" value="Замовити" class="btn_standart btn_standart_yellow">
      
    </form>
    <div class="drive_map__block">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d626.5368564183469!2d25.55722983059672!3d49.54148059378946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473036dd4ef33ebf%3A0x1bbc6010ee64c2f!2sELEEK!5e0!3m2!1sru!2sua!4v1593086495915!5m2!1sru!2sua" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
</section>
{% endblock content%}
{% block scripts %}
<script src="/static/source/lib/jquery/index.js"></script> 
<script src="/static/source/lib/lazyload/lazyloadxt.extra.js"></script> 
<script src="/static/source/lib/validation/validation.min.js"></script> 
<script src="/static/development/components/module/form_errors/index.js"></script> 
<script src="/static/source/lib/fancybox/jquery.fancybox.min.js"></script> 
<script src="/static/source/lib/slick/slick.min.js"></script> 
<script src="/static/source/lib/select2/select2.full.min.js"></script> 
<script src="/static/source/pages/about/index.js"></script> 
{% endblock scripts %}



