{% extends 'project/base.html' %}
{% load i18n sw_content %}
{% block styles %}
<link rel="stylesheet" href="/static/source/pages/index/index.css.map">
<link rel="stylesheet" href="/static/source/lib/slick/slick.min.css">
<link rel="stylesheet" href="/static/source/lib/slick/slick-theme.css">
<link rel="stylesheet" href="/static/source/pages/index/index.css?v=3">
{% endblock styles %}
{% block main_class %}
section__wrapper
{% endblock main_class %}
{% block content %}
<section class="first_section">
  <div class="bike_trailer__block">
    {% for slider in '12345'|make_list %}
    123123123
    <div class="bike_trailer__wrapper">
      <div class="bike_trailer_content">
        <h1 class="main__title main__title_1 color_black slide-name anim_text">
          Новий <span class="main__title main__title_1 color_yellow">Eleek Atom1</span> — <br> відчуй драйв!
        </h1>
        <div class="bike_trailer_btn__wrap slide-name anim_text">
            <a href="{% url 'test_drive' %}" class="btn_standart btn_standart_transparent">
              {% trans 'Тест-драйв' %}
            </a>
            <a href="{% url 'item' 1 %}" class="btn_standart btn_standart_black">
              {% trans 'Детальніше' %}
            </a>
        </div>
      </div>
        <div class="bike_trailer_img__block">
            <img class="bike_trailer_img slide-img anim_img" src="/static/source/img/index/123.png" alt="">
        </div>
    </div>
    {% endfor %}
  </div>
  <div class="nav_for_bike_trailer">
    <div class="bike_progress__block">
      <span class="num_name title_text_regular">
        01
      </span>
      <div class="line_progress__block">
        <div class="line_active"></div>
      </div>
      <span class="num_name title_text_regular last_click_num">
        ...
      </span>
    </div>
    <div class="bike_progress_arrow">
        <button type="button" class="slick-first all_class_slick">
            <img src="/static/source/img/index/combined-arrow.svg" alt="">
        </button>
        <button type="button" class="slick-second all_class_slick">
          <img src="/static/source/img/index/combined-arrow.svg" alt="">
        </button>
    </div>
  </div>
</section>
<!-- /.first_section -->
<section class="second_section">
  <div class="container">
    {% render 'index_feel' as index_feel %}
    <h1 class="second_title main__title main__title_1 color_white db_content" data-admin_url="{{index_feel.get_admin_url}}">
      {{index_feel.text}}
      <!-- Відчуй переваги професіоналів -->
    </h1>
    {% render 'index_our_velek' as index_our_velek %}
    <div class="second_sub_title sub_title sub_title_2 color_white text_center db_content" data-admin_url="{{index_our_velek.get_admin_url}}">
      {{index_our_velek.text}}
      <!-- Наші велосипеди одні з найпотужніших та найякісніших на ринку -->
    </div>
    <div class="preferens__wrap">
        <img src="/static/source/img/index/grid-eleek.png" alt="" class="hidden_preferens__bg">
        <div class="preferens_profile">

          <div class="preferens_item preferens_item_fix">
                <div class="preferens_title__block">
                    <span class="pref_num main__title main__title_5 color_white">
                      01
                    </span>
                    <span class="pref_line">

                    </span>
                    <span class="pref_text main__title main__title_5 color_white">
                      Дистанція
                    </span>
                </div>
                <div class="preferens_counter__block">
                    <span data-count="150" id="preferens_counter_1" class="lines preferens_counter_1 color_yellow main__title main__title_0">
                      0
                    </span>
                    <span class="sub_title sub_title_1 color_white">
                      км
                    </span>
                </div>
          </div>
          <div class="preferens_item">
              <div class="preferens_title__block">
                  <span class="pref_num main__title main__title_5 color_white">
                    02
                  </span>
                  <span class="pref_line">

                  </span>
                  <span class="pref_text main__title main__title_5 color_white">
                    Швидкість
                  </span>
              </div>
              <div class="preferens_counter__block">
                  <span data-count="100" id="preferens_counter_2" class="lines preferens_counter_2 color_yellow main__title main__title_0">
                    0
                  </span>
                  <span class="sub_title sub_title_1 color_white">
                    км/год
                  </span>
              </div>
          </div>
          
        </div>
        <div class="preferens_profile">
          <div class="preferens_item preferens_item_fix">
            <div class="preferens_title__block">
                <span class="pref_num main__title main__title_5 color_white">
                  03
                </span>
                <span class="pref_line">

                </span>
                <span class="pref_text main__title main__title_5 color_white">
                  Потужність
                </span>
            </div>
            <div class="preferens_counter__block">
                <span data-count="3954" id="preferens_counter_3" class="lines preferens_counter_3 color_yellow main__title main__title_0">
                  0
                </span>
                <span class="sub_title sub_title_1 color_white">
                  вт
                </span>
            </div>
          </div>
          <div class="preferens_item">
          <div class="preferens_title__block">
              <span class="pref_num main__title main__title_5 color_white">
                04
              </span>
              <span class="pref_line">

              </span>
              <span class="pref_text main__title main__title_5 color_white">
                Потужність
              </span>
          </div>
          <div class="preferens_counter__block">
              <span data-count="4" id="preferens_counter_4" class="lines preferens_counter_4 color_yellow main__title main__title_0">
                0
              </span>
              <span class="sub_title sub_title_1 color_white">
                год
              </span>
          </div>
          </div>
        </div>
    </div>
    <div class="img_preferens__block">
      <img src="/static/source/img/index/111333.png" alt="" class="img_preferens">
    </div>
  </div>
  <!-- /.container -->
</section>
<!-- /.second_section -->
<section class="three_section">
    <div class="eleek_title__wrap">
      <h1 class="color_black three_title main__title main__title_1">
          Велосипеди ELEEK
      </h1>
      <div class="eleek_arrow__block">
          <div class="eleek_prev_arrow eleek_arrow">
              <img src="/static/source/img/index/combined-arrow.svg" alt="">
          </div>
          <div class="eleek_next_arrow eleek_arrow">
            <img src="/static/source/img/index/combined-arrow.svg" alt="">
          </div>
      </div>
    </div>
    <div class="eleek_slider__wrap">
      {% for slide in '123'|make_list %}
        <div class="eleek_slide">
          <div class="eleek_num_counter main__title main__title_01 color_white">
            0{{slide}}
          </div>
          <div class="eleek_slide_name main__title main__title_3 color_black">
            Neo {{slide}}
          </div>
          <div class="eleek_slide_img">
              <img src="/static/source/img/index/slide-{{slide}}.png" alt="">
              <img class="oval_slide" src="/static/source/img/index/oval.png" alt="">
          </div>
          <div class="eleek_slide_info__wrapp">
            <div class="eleek_slide_info__block">
              <div class="eleek_slide_info sub_title sub_title_2">
                Дистанція
              </div>
              <div class="eleek_slide_info eleek_info_result">
                До 15{{slide}} км
              </div>
            </div>
            <div class="eleek_slide_info__block">
              <div class="eleek_slide_info sub_title sub_title_2">
                Макс. швидкість
              </div>
              <div class="eleek_slide_info eleek_info_result">
                8{{slide}} км/год
              </div>
            </div>
            <div class="eleek_slide_info__block">
              <div class="eleek_slide_info sub_title sub_title_2">
                Потужність
              </div>
              <div class="eleek_slide_info eleek_info_result">
                {{slide}}000 Вт
              </div>
            </div>
          </div>
          <a href="{% url 'item' 1 %}" class="eleek_slide_btn btn_standart btn_standart_transparent">
            Детальніше
          </a>
        </div>
      {% endfor %}
    </div>
</section>
<!-- /.three_section -->
<section class="four_section">
  <img src="/static/source/img/index/rrama-png.png" alt="" class="absolute_rams_1">
  <img src="/static/source/img/index/lite.png" alt="" class="absolute_rams_2">
  <img src="/static/source/img/index/ekross-copy.png" alt="" class="absolute_rams_3">
  <div class="four_bg"></div>
  <div class="four_wrapp">
    <h1 class="color_black four_title main__title main__title_1">
      Рами ELEEK
    </h1>
    <div class="sub_title sub_title_2">
      При виборі електро велосипеда можна не обмежувати себе в побажаннях. Ми можемо підібрати велосипед який підійде саме Вам. Починаючи з велосипеда для неспішних прогулянок по парку, закінчуючи зарядженим брутальним мотоциклом для агресивної їзди всюди.
    </div>
    <a href="{{ramy.get_absolute_url}}" class="btn_standart btn_standart_black">
      Детальніше
    </a>
    <a href="#" class="glo">
      Кнопка с анимацией загрузки
    </a>
  </div>
  <!-- /.four_wrapp -->
</section>
<!-- /.four_section -->
<section class="five_section">
  <div class="five_bg"></div>
  <div class="absolute_product__block">
    <div class="absolute_product_profile absolute_product_profile_1">
        <div class="absolute_product_img">
            <img src="/static/source/img/index/koleso.png" alt="">
        </div>
        <a href="{{kole.get_absolute_url}}" class="absolute_product_arrow">
        <div class="main__title main__title_5 color_white">
            {{kole.title|title}}
        </div>
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="15" viewBox="0 0 25 15">
            <path fill="#1B1813" fill-rule="evenodd" d="M7.071 0l.707.707L1.91 6.574h22.67v1H1.917l5.861 5.861-.707.707L0 7.072 7.071 0z"/>
          </svg>
        </a>
    </div>
    <div class="absolute_product_profile absolute_product_profile_2">
      <div class="absolute_product_img">
          <img src="/static/source/img/index/stop.png" alt="">
      </div>
      <a href="{{galm.get_absolute_url}}" class="main__title main__title_5 color_white">
        {{galm.title|title}}
        <div class="absolute_product_arrow">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="15" viewBox="0 0 25 15">
            <path fill="#1B1813" fill-rule="evenodd" d="M7.071 0l.707.707L1.91 6.574h22.67v1H1.917l5.861 5.861-.707.707L0 7.072 7.071 0z"/>
          </svg>
        </div>
      </a>
    </div>
    <div class="absolute_product_profile absolute_product_profile_3">
      <a href="{{vilk.get_absolute_url}}" class="main__title main__title_5 color_white">
        <div class="absolute_product_img">
            <img src="/static/source/img/index/vylka.png" alt="">
        </div>
        {{vilk.title|title}}
        <div class="absolute_product_arrow">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="15" viewBox="0 0 25 15">
            <path fill="#1B1813" fill-rule="evenodd" d="M7.071 0l.707.707L1.91 6.574h22.67v1H1.917l5.861 5.861-.707.707L0 7.072 7.071 0z"/>
          </svg>
        </div>
      </a>
    </div>
    <div class="absolute_product_profile absolute_product_profile_4">
      <a href="{{moto.get_absolute_url}}" class="main__title main__title_5 color_white">
      <div class="absolute_product_img">
          <img src="/static/source/img/index/motor.png" alt="">
      </div>
        {{moto.title|title}}
        <div class="absolute_product_arrow">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="15" viewBox="0 0 25 15">
            <path fill="#1B1813" fill-rule="evenodd" d="M7.071 0l.707.707L1.91 6.574h22.67v1H1.917l5.861 5.861-.707.707L0 7.072 7.071 0z"/>
          </svg>
        </div>
      </a>
    </div>
    <div class="absolute_product_profile absolute_product_profile_5">
      <div class="absolute_product_img">
          <img src="/static/source/img/index/amort.png" alt="">
      </div>
      <a href="{{amor.get_absolute_url}}" class="main__title main__title_5 color_white">
        {{amor.title|title}}
        <div class="absolute_product_arrow">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="15" viewBox="0 0 25 15">
            <path fill="#1B1813" fill-rule="evenodd" d="M7.071 0l.707.707L1.91 6.574h22.67v1H1.917l5.861 5.861-.707.707L0 7.072 7.071 0z"/>
          </svg>
        </div>
      </a>
    </div>
</div>
  <div class="five_wrapp">
      <div class="five_title__block">
        <h1 class="color_white five_title main__title main__title_1">
          {{comp.title|title}}
        </h1>
        {% render 'index_assort' as index_assort %}
        data-admin_url="{{index_assort.get_admin_url}}"
        class="db_content"
        <div class="color_white sub_title sub_title_2">
          {{index_assort.text}}
          <!-- В нашому асортименті ви можете знайти усі найнеобхідніші товари для вашого байку -->
        </div>
        {% render 'index_all_assort' as index_all_assort %}
        <a href="{{comp.get_absolute_url}}" class="btn_standart btn_standart_yellow db_content" data-admin_url="{{index_all_assort.get_admin_url}}">
          {{index_all_assort.text}}
          <!-- Весь асортимент -->
        </a>
      </div>
      <div class="complect__wrap">
          <div class="complect_slide">
            <a href="{{kole.get_absolute_url}}" class="absolute_product_arrow">
              <img src="/static/source/img/index/koleso.png" alt="" class="complect_img">
              <div class="main__title main__title_5 color_white">
                {{kole.title|title}}
              </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="15" viewBox="0 0 25 15">
                  <path fill="#1B1813" fill-rule="evenodd" d="M7.071 0l.707.707L1.91 6.574h22.67v1H1.917l5.861 5.861-.707.707L0 7.072 7.071 0z"/>
                </svg>
            </a>
          </div>
          <div class="complect_slide">
            <a href="{{galm.get_absolute_url}}" class="absolute_product_arrow">
            <img src="/static/source/img/index/stop.png" alt="" class="complect_img">
            <div class="main__title main__title_5 color_white">
            {{galm.title|title}}
            </div>
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="15" viewBox="0 0 25 15">
                <path fill="#1B1813" fill-rule="evenodd" d="M7.071 0l.707.707L1.91 6.574h22.67v1H1.917l5.861 5.861-.707.707L0 7.072 7.071 0z"/>
              </svg>
            </a>
          </div>
          <div class="complect_slide">
            <a href="{{vilk.get_absolute_url}}" class="absolute_product_arrow">
            <img src="/static/source/img/index/vylka.png" alt="" class="complect_img">
            <div class="main__title main__title_5 color_white">
              {{vilk.title|title}}
            </div>
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="15" viewBox="0 0 25 15">
                <path fill="#1B1813" fill-rule="evenodd" d="M7.071 0l.707.707L1.91 6.574h22.67v1H1.917l5.861 5.861-.707.707L0 7.072 7.071 0z"/>
              </svg>
            </a>
          </div>
          <div class="complect_slide">
            <a href="{{moto.get_absolute_url}}" class="absolute_product_arrow">
            <img src="/static/source/img/index/motor.png" alt="" class="complect_img">
            <div class="main__title main__title_5 color_white">
              {{moto.title|title}}
            </div>
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="15" viewBox="0 0 25 15">
                <path fill="#1B1813" fill-rule="evenodd" d="M7.071 0l.707.707L1.91 6.574h22.67v1H1.917l5.861 5.861-.707.707L0 7.072 7.071 0z"/>
              </svg>
            </a>
          </div>
          <div class="complect_slide">
            <a href="{{amor.get_absolute_url}}" class="absolute_product_arrow">
            <img src="/static/source/img/index/amort.png" alt="" class="complect_img">
            <div class="main__title main__title_5 color_white">
              {{amor.title|title}}
            </div>
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="15" viewBox="0 0 25 15">
                <path fill="#1B1813" fill-rule="evenodd" d="M7.071 0l.707.707L1.91 6.574h22.67v1H1.917l5.861 5.861-.707.707L0 7.072 7.071 0z"/>
              </svg>
            </a>
          </div>
      </div>
      
  </div>
</section>
<!-- /.five_section -->
<section class="six_section">
  <video class="eleek_video" data-src="/static/source/img/index/video.webm" autoplay muted poster="posterimage.jpg">
    Sorry, your browser doesn't support embedded videos, 
    but don't worry, you can <a href="/static/source/img/index/video.webm">download it</a>
    and watch it with your favorite video player!
  </video>
</section>
{% endblock content %}
{% block scripts %}
<script src="/static/source/lib/jquery/index.js"></script> 
<script src="/static/source/lib/slick/slick.min.js"></script> 
<script src="/static/source/lib/wow/wow.min.js"></script> 
<script src="/static/source/lib/lazyload/lazyloadxt.extra.js"></script> 
<script src="/static/source/lib/validation/validation.min.js"></script> 
<script src="/static/development/components/module/form_errors/index.js"></script> 
<script src="/static/source/pages/index/index.js"></script> 
{% endblock scripts %}