{% extends 'project/base.html' %}
{% load i18n sw_content sw_catalog %}
{% block styles %}
<link rel="stylesheet" href="/static/source/pages/items/index.css.map">
<link rel="stylesheet" href="/static/source/lib/slick/slick.min.css">
<link rel="stylesheet" href="/static/source/lib/slick/slick-theme.css">
<link rel="stylesheet" href="/static/source/lib/fancybox/jquery.fancybox.min.css">
<link rel="stylesheet" href="/static/source/pages/item/index.css?v=3">
{% endblock styles %}
{% block main_class %}
item_section__wrapper
{% endblock main_class %}
{% block content %}
<section class="item_section">
  <div class="standart_container item_content__wrap">
    <div class="item_slider__block">
      <div class="slider_card-wrap sticky">
        <div class="main_card_slider">
          {% for image in item.images.all %}
          <div class="img-wrap">
            <img src="{{image.image.url}}" alt="{{image.alt}}">
          </div>
          {% endfor %}
        </div>
        <div class="bottom_slider__wrap">
          <div class="three_de__block">
            <svg class="hvr-bob" xmlns="http://www.w3.org/2000/svg" width="49" height="56" viewBox="0 0 49 56">
              <g class="three_svg" fill="none" fill-rule="evenodd" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                  <path d="M24.684 1.093l18.133 9.714c1.54.82 2.515 2.504 2.516 4.347V38.3c0 1.843-.975 3.527-2.516 4.347L24.684 52.36c-1.277.685-2.78.685-4.057 0L2.493 42.646C.954 41.815-.012 40.12 0 38.274v-23.12c0-1.843.975-3.527 2.516-4.347l18.133-9.714c1.271-.677 2.764-.677 4.035 0z" transform="translate(1.167 1.857)"/>
                  <path d="M.725 12.531L22.667 24.286 44.608 12.531M22.667 52.846L22.667 24.286" transform="translate(1.167 1.857)"/>
              </g>
            </svg>
            <a href="{% url 'constructor' %}">
            <div class="three_title standart_title standart_title_5 color_black">
                {% trans 'Показати в 3Д' %}
              </div>
            </a>
          </div>
          <div class="mini_slider">
            {% for image in item.images.all %}
            <div class="img-wrap">
              <img src="{{image.image.url}}" alt="{{image.alt}}">
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="item_select__block">
      <a href="{{item.category.get_absolute_url}}">
      <div class="item_category_name sub_title sub_title_2 color_black">
        {{item.category.title|title}}
      </div>
      </a>
      <div class="item_name__block">
        <div data-id-name='{{item.id}}' class="item_name main__title main__title_2 color_black">
          {{item.title|title}} 
        </div>
        <div class="item_rating__block">
          <svg class="rating_svg {% if item.rounded_stars in '12345'|make_list %} rating_svg_active {% endif %}" xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17">
            <path fill-rule="evenodd" d="M9 16.5L3.71 19.281 4.72 13.391 0.44 9.219 6.355 8.359 9 3 11.645 8.359 17.56 9.219 13.28 13.391 14.29 19.281z" transform="translate(0 -3)"/>
          </svg>

          <svg class="rating_svg {% if item.rounded_stars in '2345'|make_list %} rating_svg_active {% endif %}" xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17">
            <path fill-rule="evenodd" d="M9 16.5L3.71 19.281 4.72 13.391 0.44 9.219 6.355 8.359 9 3 11.645 8.359 17.56 9.219 13.28 13.391 14.29 19.281z" transform="translate(0 -3)"/>
          </svg>

          <svg class="rating_svg {% if item.rounded_stars in '345'|make_list %} rating_svg_active {% endif %}" xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17">
            <path fill-rule="evenodd" d="M9 16.5L3.71 19.281 4.72 13.391 0.44 9.219 6.355 8.359 9 3 11.645 8.359 17.56 9.219 13.28 13.391 14.29 19.281z" transform="translate(0 -3)"/>
          </svg>
          
          <svg class="rating_svg {% if item.rounded_stars in '45'|make_list %} rating_svg_active {% endif %}" xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17">
            <path fill-rule="evenodd" d="M9 16.5L3.71 19.281 4.72 13.391 0.44 9.219 6.355 8.359 9 3 11.645 8.359 17.56 9.219 13.28 13.391 14.29 19.281z" transform="translate(0 -3)"/>
          </svg>
          
          <svg class="rating_svg {% if item.rounded_stars in '5'|make_list %} rating_svg_active {% endif %}" xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17">
            <path fill-rule="evenodd" d="M9 16.5L3.71 19.281 4.72 13.391 0.44 9.219 6.355 8.359 9 3 11.645 8.359 17.56 9.219 13.28 13.391 14.29 19.281z" transform="translate(0 -3)"/>
          </svg>

          <span class="rating_num standart_title standart_title_5 color_black">
            {{item.rounded_stars}}/5 ({{item.stars}})
          </span>
        </div>
      </div>
      <div class="item_price__block">
        <div class="item_price main__title main__title_3 color_black">
          <!-- {{item.price}} {{item.currency.code}} -->
          {{item.converted_price}} {{item.main_currency.symbol}}
        </div>
        <div class="item_btn_price btn_standart btn_standart_black color_white">
          {% trans 'Купити' %}
        </div>
      </div>

      
      <div class="additional__block">
        <div class="addit_name sub_title sub_title_3 color_black">
          {% trans 'Ціна додаткових опцій' %}:
        </div>
        <div class="addit_price main__title main__title_5 color_black">
          ₴ <span class="additional_price main__title_5 main__title_5 color_black">0</span>
        </div>
      </div>
      <div class="additional__block absolute_additional__block">
        <div class="addit_name sub_title sub_title_3 color_black">
          {% trans 'Ціна додаткових опцій' %}:
        </div>
        <div class="addit_price main__title main__title_5 color_black">
          ₴ <span class="absolute_additional_price main__title_5 main__title_5 color_black">0</span>
        </div>
      </div>
      
      {% if item.manufacturer %}
      <div class="additional__block">
        <div class="addit_name sub_title sub_title_3 color_black">
          {% trans 'Виробник' %}:
        </div>
        <div class="addit_price main__title main__title_5 color_black">
          {{item.manufacturer.name}}
          <!-- ₴ <span class="additional_price main__title_5 main__title_5 color_black">0</span> -->
        </div>
      </div>
      {% endif %}

      {% if item.brand %}
      <div class="additional__block">
        <div class="addit_name sub_title sub_title_3 color_black">
          {% trans 'Бренд' %}:
        </div>
        <div class="addit_price main__title main__title_5 color_black">
          {{item.brand.title}}
          <!-- ₴ <span class="additional_price main__title_5 main__title_5 color_black">0</span> -->
        </div>
      </div>
      {% endif %}

      {% if item.in_stock %}
      <div class="additional__block">
        <div class="addit_name sub_title sub_title_3 color_black">
          {% trans 'Наявність' %}:
        </div>
      <div class="addit_price main__title main__title_5 color_black" style="colour:#{{item.in_stock.colour}}">
          {{item.in_stock.text}}
          <!-- ₴ <span class="additional_price main__title_5 main__title_5 color_black">0</span> -->
        </div>
      </div>
      {% endif %}

      {% if item.amount != 0 and item.amount != None %}
        <div class="additional__block">
          <div class="addit_name sub_title sub_title_3 color_black">
            {% trans 'Hа складі' %}:
          </div>
        <div class="addit_price main__title main__title_5 color_black" style="colour:#{{item.in_stock.colour}}">
            {{item.amount}} {{item.unit.name}}
            <!-- ₴ <span class="additional_price main__title_5 main__title_5 color_black">0</span> -->
          </div>
        </div>
      {% endif %}

      {% if item.currency != item.main_currency and item.converted_price %}
      <div class="additional__block">
        <div class="addit_name sub_title sub_title_3 color_black">
          {% trans 'Ціна в гривнях' %}:
        </div>
      <div class="addit_price main__title main__title_5 color_black" style="colour:#{{item.in_stock.colour}}">
          {{item.converted_price}} {{item.main_currency.symbol}}
          <!-- ₴ <span class="additional_price main__title_5 main__title_5 color_black">0</span> -->
        </div>
      </div>
    {% endif %}

    {% if item.discount_price != 0 %}
      <div class="additional__block">
        <div class="addit_name sub_title sub_title_3 color_black">
          {% trans 'Стара ціна' %}:
        </div>
        <div class="addit_price main__title main__title_5 color_black" style="colour:#{{item.in_stock.colour}}">
            <s> {{item.price}} {{item.currency}}</s>
        </div>
      </div>

      <div class="additional__block">
        <div class="addit_name sub_title sub_title_3 color_black">
          {% trans 'Нова ціна' %}:
        </div>
        <div class="addit_price main__title main__title_5 color_black" style="colour:#{{item.in_stock.colour}}">
            {{item.discount_price}} {{item.currency}}
        </div>
      </div>
    {% elif item.price != 0 %}
    <div class="additional__block">
      <div class="addit_name sub_title sub_title_3 color_black">
        {% trans 'Ціна' %}:
      </div>
      <div class="addit_price main__title main__title_5 color_black" style="colour:#{{item.in_stock.colour}}">
          {{item.price}} {{item.currency}}
      </div>
    </div>
    {% else%}
    {% endif %}
      <div class="kredit__block">
        <div class="kredit_text sub_title sub_title_2 color_black">
          Від 10 057/місяць при купівлі товару в кредит або оплаті частинами
        </div>
        <div class="kredit_btn btn_standart btn_standart_yellow standart_title standart_title_5 color_black">
          {% trans 'Купити в кредит' %}
        </div>
      </div>
      <div class="item_char_title main__title main__title_4">
        {% trans 'Характеристики' %}
      </div>
      <div class="characteristick__wrap">
        <div class="char__block">
          {% for feature in odd_features %}
          <div class="char_prof">
            <div class="char_text standart_title standart_title_5 color_black">
              {{feature.name}}
            </div>
            <div class="char_result main__title main__title_5 color_black">
              {{feature.value}}
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="char__block">
          {% for feature in even_features %}
          <div class="char_prof">
            <div class="char_text standart_title standart_title_5 color_black">
              {{feature.name}}
            </div>
            <div class="char_result main__title main__title_5 color_black">
              {{feature.value}}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      
      <!-- Опції  -->
      {% for options in item.get_item_options %}
      <div class="option__wrap">
        <div class="item_char_title main__title main__title_4">
          {{options.attribute.name|title}}
        </div>
        <div class="option_content__block">
          {% for option in options.get_values %}
          <div class="option_content_prof price_multiple_option price_option" data-price-option='{{option.price|stringformat:".2f"}}'>
            <img class="option_img" src="/static/source/img/item/close.svg" alt="">
            <div class="option_text standart_title standart_title_6">
              {{option.value.value}} ({{option.price}} {{option.currency.code}})
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}

      <!-- Атрибути без категорій -->
      {% for attribute in item.get_attributes_without_categories %}
        {% if not attribute.is_option %}
          <div data-item_attribute_id="{{attribute.id}}" data-value="none" class="color_change__wrap">
            <div class="color_change__block">
              <div class="color_change_prof">
                <div class="color_change_title main_sub_title main_sub_title_3 color_black">
                  {{attribute.attribute.name}}
                </div>
              </div>
              <div class="color_change_btn">
                <img src="/static/source/img/item/close.svg" alt="">
              </div>
            </div>
            <div class="color_change_content">
              <div class="color_change_content_wrap">
                {% for value in attribute.get_values %}
                <div class="option_content_prof price_simple_option change_attribute" data-value='{{value.value.value}}' data-price-option='{{value.price|stringformat:".2f"}}'>
                  <img class="option_img" src="/static/source/img/item/close.svg" alt="">
                  <div class="option_text standart_title standart_title_6">
                    {{value.value.value}} ({{value.price}} {{value.currency.code}})
                    <input
                      class="hidden_color_attr"
                      type="hidden"
                      name="{{forloop.parentloop.counter}}" 
                      value="{{value.value.value}}" 
                      data-item_attribute_id="{{value.item_attribute.id}}"
                      data-item_attribute_value_id="{{value.id}}"
                    >
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% else %}
        <!-- TODO: розділити опції від неопцій в атрибутах без категорій https://starway.atlassian.net/browse/ELEEK-79 -->
        {% endif %}
      {% endfor %}
      <!-- Категорії атрибутів -->
      {% for attribute_category in item.get_attribute_categories %}
        <div class="item_char_title main__title main__title_4">
          {{attribute_category.name|title}}
        </div>
        <!-- Атрибути в категорії  -->
        {% get_category_attributes attribute_category item as attributes %}
        {% for attribute in attributes %}
          {% if attribute_category.name == 'кольори' %}
          <!-- Ось тут ми зупинилсь! -->
            <div class="color_change__wrap"
              data-item_attribute_id='{{attribute.get_values.first.item_attribute.id}}'
              data-item_attribute_value_id='{{attribute.get_values.first.value.id}}'>
              <div class="color_change__block">
                <div class="color_change_prof">
                  <div class="color_change_title main_sub_title main_sub_title_3 color_black">
                    {{attribute.attribute.name}}
                  </div>
                  <div data-color="#{{attribute.get_values.first.value.code}}" style="background:#{{attribute.get_values.first.value.code}};" class="main_color_change_oval color_change_oval">
                    <!-- .... -->
                    <!-- Код кольору вибраного значення -->
                  </div>
                  <div 
                  class="color_change_name sub_title sub_title_2 color_black" 
                  data-item_attribute_value_id="{{value.id}}" 
                  data-item_attribute_id="{{value.item_attribute.id}}">
                    <!-- .... -->
                    <!-- Назва вибраного значення -->
                    {{attribute.get_values.first.value.value}}
                  </div>
                </div>
                <div class="color_change_btn">
                  <img src="/static/source/img/item/close.svg" alt="">
                </div>
              </div>
              <div class="color_change_content">
                <div class="color_change_content_wrap">
                  {% for value in attribute.get_values %}
                  
                  <div
                    class="color_change_oval color_change_select"
                    style="background:#{{value.value.code}};" 
                    data-color='#{{value.value.code}}' 
                    data-value="{{value.value.value}}"
                  >
                    <div class="success_color {% if forloop.counter == 1 %}success_color_active{% endif %}">
                      <img src="/static/source/img/item/okey.svg" alt="open">
                    </div>
                    <input
                    class="hidden_color_attr"
                    type="hidden"
                    name="{{forloop.parentloop.counter}}" 
                    value="{{value.value.value}}" 
                    data-item_attribute_id="{{value.item_attribute.id}}"
                    data-item_attribute_value_id="{{value.id}}"
                  >
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% else %}
          <!-- TODO: вивести динамічні атрибути некольори в категорії https://starway.atlassian.net/browse/ELEEK-80-->
          {% endif %}
        {% endfor %}
      {% endfor %}


    </div>
  </div>
</section>
<section class="best_sales">
  <div class="container">
     <div class="best_title-block">
         <h4 class="best_sale_title">
          {% trans 'Схожі товари' %}
          </h4>
         <div class="slick-wrap">
             <button type="button" class="slick-first">
                 <img src="/static/source/img/item/arrow-right.svg" alt="">
             </button>
             <button type="button" class="slick-second">
                 <img src="/static/source/img/item/arrow-right.svg" alt="">

             </button>
         </div>
     </div>
      <div class="best-sales-block">
        {% for similar in item.similars.all %}
          <div class="best-sales-prof">
              <a href="{{similar.get_absolute_url}}" class="best-sales_link-img">
                 <img src="{{similar.image_url}}" alt="{{similar.alt}}" class="best-sales_photo">
              </a>
             <div class="best-sales_text">
                <div class="best-sales_info">
                     <div class="name-product">
                         {{similar.title}}
                     </div>
                     <div class="cost-product">
                         {{similar.price}} {{similar.currency.code}}
                     </div>
                </div>
                <!-- 
                <a href="{{similar.get_absolute_url}}" class="basket-btn">
                 У Кошик
                </a> 
                -->
             </div>
         </div>
         {% endfor %}
      </div>
  </div>
  <!-- /.container -->
</section>
<!-- /.best_sales -->
<section class="item_tab">
  <div class="tab_container">
    <div class="item_tab_link__block">
      {% for feature_category in item.get_feature_categories %}
      <div data-tab="{{forloop.counter|add:'1'}}" class="item_tab_link standart_title standart_title_3 color_black {% if forloop.counter == 1 %} item_tab_link_active {% endif %}">
        {{feature_category.name}}
      </div>
      {% endfor %}
      <div data-tab="1" class="item_tab_link item_tab_link_3 standart_title standart_title_3 color_black">
        {% trans 'Відгуки' %}
      </div>
    </div>
    <div class="item_tab_content__block">
      {% for feature_category in item.get_feature_categories %}
      <div id="{{forloop.counter|add:'1'}}" class="item_tab_content {% if forloop.counter == 1 %} item_tab_content_active {% endif %}">
        <div class="characteristick__wrap">
            {% get_category_features feature_category item as features %}
            {% for feature in features %}
            <div class="char_prof">
              <div class="char_text standart_title standart_title_5 color_black">
                {{feature.name}}
              </div>
              <div class="char_result main__title main__title_5 color_black">
                {{feature.value}}
              </div>
            </div>
            {% endfor %}
        </div>
      </div>
      {% endfor %}
      <div id="1" class="item_tab_content">
        <div class="item_comment__wrap">
          <div class="item_comment__block">
              <div class="comment_kredit__block kredit__block">
                {% render 'review' as review %}
                <div class="kredit_text sub_title sub_title_2 color_black db_content" data-admin_url="{{review.get_admin_url}}">
                  {{review.text}}
                  <!-- Поділіться своїм досвідом користуванням нашим товаром та оцінінь його! -->
                </div>
                <div class="add_comment_btn kredit_btn btn_standart btn_standart_black standart_title standart_title_5 color_black">
                  {% trans 'Додати відгук' %}
                </div>
              </div>
              <div class="none_comments_text none_comments_text_hidden sub_title sub_title_2 color_black">
                {% trans 'У даного товару ще немає відруків. Ви можете бути першим. ' %}
              </div>
              <div class="comment_profile__wrapper">
                {% for review in item.reviews.all %}
                <div class="comment_profile">
                  <div class="comment_name__block">
                    <div class="comment_name color_black standart_title standart_title_4">
                      {{review.name}} ({{review.phone}}, {{review.email}})
                    </div>
                    <div class="comment_star">
                      
                      <div class="svg_rating__wrap">
                        <svg class="rating_svg {% if review.rating in '12345'|make_list %}rating_svg_active{% endif %}" xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17">
                          <path fill-rule="evenodd" d="M9 16.5L3.71 19.281 4.72 13.391 0.44 9.219 6.355 8.359 9 3 11.645 8.359 17.56 9.219 13.28 13.391 14.29 19.281z" transform="translate(0 -3)"/>
                        </svg>
                      </div>
                      

                      <div class="svg_rating__wrap">
                        <svg class="rating_svg {% if review.rating in '2345'|make_list %}rating_svg_active{% endif %}" xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17">
                          <path fill-rule="evenodd" d="M9 16.5L3.71 19.281 4.72 13.391 0.44 9.219 6.355 8.359 9 3 11.645 8.359 17.56 9.219 13.28 13.391 14.29 19.281z" transform="translate(0 -3)"/>
                        </svg>
                      </div>

                      <div class="svg_rating__wrap">
                        <svg class="rating_svg {% if review.rating in '345'|make_list %}rating_svg_active{% endif %}" xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17">
                          <path fill-rule="evenodd" d="M9 16.5L3.71 19.281 4.72 13.391 0.44 9.219 6.355 8.359 9 3 11.645 8.359 17.56 9.219 13.28 13.391 14.29 19.281z" transform="translate(0 -3)"/>
                        </svg>
                      </div>
                      
                      <div class="svg_rating__wrap">
                        <svg class="rating_svg {% if review.rating in '45'|make_list %}rating_svg_active{% endif %}" xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17">
                          <path fill-rule="evenodd" d="M9 16.5L3.71 19.281 4.72 13.391 0.44 9.219 6.355 8.359 9 3 11.645 8.359 17.56 9.219 13.28 13.391 14.29 19.281z" transform="translate(0 -3)"/>
                        </svg>
                      </div>
                      
                      <div class="svg_rating__wrap">
                        <svg class="rating_svg {% if review.rating in '5'|make_list %}rating_svg_active{% endif %}" xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17">
                          <path fill-rule="evenodd" d="M9 16.5L3.71 19.281 4.72 13.391 0.44 9.219 6.355 8.359 9 3 11.645 8.359 17.56 9.219 13.28 13.391 14.29 19.281z" transform="translate(0 -3)"/>
                        </svg>
                      </div>

                    </div>
                  </div>
                  <div class="comment_text color_black sub_title sub_title_2">
                    {{review.text}}
                  </div>
                </div>
                {% endfor %}
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<form method="POST" action="/api/create_review/" class="comment_form" id="comment_form" style="display:none;">
  <input type="hidden" name='item_id' value="{{item.id}}">
  <div class="search_menu_title">
    <div class="main__title main__title_4 color_black">
      Новий відгук
    </div>
    <img class="modal_comm modal_search_close" src="/static/source/img/index/close.svg" alt="">
  </div>
  <div class="footer_input__wrap inp-vak-wrap">
    <label for="comment_name" class="footer_label label__style color_black">
      Ім'я
    </label>
    <input type="text" id="comment_name" name='name' class="comment_name footer_input input_focus">
  </div>
  <div class="footer_input__wrap inp-vak-wrap">
    <label for="comment_phone" class="footer_label label__style color_black">
      Телефон
    </label>
    <input type="text" id="comment_phone" name='phone' class="comment_phone footer_input input_focus">
  </div>
  <div class="footer_input__wrap inp-vak-wrap">
    <label for="comment_email" class="footer_label label__style color_black">
      Email
    </label>
    <input type="text" id="comment_email" name='email' class="comment_email footer_input input_focus">
  </div>
  <div class="comment_name__block">
    <div class="comment_name color_black sub_title sub_title_2">
      Ваша оцінка товару
    </div>
    <div class="modal-review__rating-order-wrap">
      <input type="hidden" name="product_rating" class="hidden_rating_review" value="5">
      <span class="rating_review" data-rating-value="1"></span>
      <span class="rating_review" data-rating-value="2"></span>
      <span class="rating_review" data-rating-value="3"></span>
      <span class="rating_review" data-rating-value="4"></span>
      <span class="rating_review" data-rating-value="5"></span>
    </div>
    <!-- <div class="comment_star">
      <svg class="rating_item rating_svg rating_svg_active" xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17">
        <path fill-rule="evenodd" d="M9 16.5L3.71 19.281 4.72 13.391 0.44 9.219 6.355 8.359 9 3 11.645 8.359 17.56 9.219 13.28 13.391 14.29 19.281z" transform="translate(0 -3)"/>
      </svg>
      <svg class="rating_item rating_svg rating_svg_active" xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17">
        <path fill-rule="evenodd" d="M9 16.5L3.71 19.281 4.72 13.391 0.44 9.219 6.355 8.359 9 3 11.645 8.359 17.56 9.219 13.28 13.391 14.29 19.281z" transform="translate(0 -3)"/>
      </svg>
      <svg class="rating_item rating_svg rating_svg_active" xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17">
        <path fill-rule="evenodd" d="M9 16.5L3.71 19.281 4.72 13.391 0.44 9.219 6.355 8.359 9 3 11.645 8.359 17.56 9.219 13.28 13.391 14.29 19.281z" transform="translate(0 -3)"/>
      </svg>
      <svg class="rating_item rating_svg rating_svg_active" xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17">
        <path fill-rule="evenodd" d="M9 16.5L3.71 19.281 4.72 13.391 0.44 9.219 6.355 8.359 9 3 11.645 8.359 17.56 9.219 13.28 13.391 14.29 19.281z" transform="translate(0 -3)"/>
      </svg>
      <svg class="rating_item rating_svg rating_svg_usually" xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17">
        <path fill-rule="evenodd" d="M9 16.5L3.71 19.281 4.72 13.391 0.44 9.219 6.355 8.359 9 3 11.645 8.359 17.56 9.219 13.28 13.391 14.29 19.281z" transform="translate(0 -3)"/>
      </svg>
    </div> -->
  </div>
  <div class="footer_input__wrap inp-vak-wrap">
    <label for="comment_send" class="footer_label label__style color_black">
      Відгук
    </label>
    <textarea name='text' id="comment_send" class="comment_send user_send footer_input input_focus"></textarea>
  </div>
  <div class="wrap_for_footer_btn">
    <input type="submit" value="Додати відгук" class="generate_comment btn_standart btn_standart_black">
  </div>
</form>
{% endblock content %}
{% block scripts %}
<script src="/static/source/lib/jquery/index.js"></script> 
<script src="/static/source/lib/slick/slick.min.js"></script> 
<script src="/static/source/lib/wow/wow.min.js"></script> 
<script src="/static/source/lib/lazyload/lazyloadxt.extra.js"></script> 
<script src="/static/source/lib/validation/validation.min.js"></script> 
<script src="/static/development/components/module/form_errors/index.js"></script> 
<script src="/static/source/lib/fancybox/jquery.fancybox.min.js"></script> 
<script src="/static/source/pages/item/index.js"></script> 
{% endblock scripts %}



