{% extends 'project/base.html' %}
{% load i18n sw_content %}
{% block styles %}
<link rel="stylesheet" href="/static/source/pages/items/index.css.map">
<link rel="stylesheet" href="/static/source/lib/nouislider/nouislider.min.css">
<link rel="stylesheet" href="/static/source/lib/slick/slick.min.css">
<link rel="stylesheet" href="/static/source/lib/slick/slick-theme.css">
<link rel="stylesheet" href="/static/source/lib/fancybox/jquery.fancybox.min.css">
<link rel="stylesheet" href="/static/source/pages/items/index.css?v=3">
{% endblock styles %}
{% block content %}

<main class="item_section__wrapper">
  <section class="prod_header">
    <div class="container">
        
        
        <div class="product-block">
            <div class="product_filter">
                <div class="filter filter_center">
                    <input type="checkbox" id="filter3" name="filter-group" class="inp_filter">
                    <label for="filter3" class="filter-title">
                        <span class="filter__title standart_title standart_title_4 color_black">
                          Фільтр
                        </span> 
                        <div class="mobale_filter">
                            <img src="/static/source/img/items/set-2.svg" alt="">
                        </div>
                    </label> 
                    <div class="filter-content"> 
                        <form action="" class="filter_form">
                          
                        
                        
                          <div class="filter_category standart_title standart_title_4 color_black">
                            Ціна
                        </div>
                        <input type="hidden" name="min_sum" class="input_for_min_range">
                        <input type="hidden" name="max_sum" class="input_for_max_range">
                            <div class="cost_filter_num standart_title standart_title_6 color_black">
                                
                            </div>
                        <div class="range_slider" id="slider"></div>
                        

                        <div class="items_filter_content__wrap items_filter_content__wrap_active">
                          <div class="items_filter_title standart_title standart_title_4 color_black">
                            Велосипеди
                          </div>
                          <div class="items_filter_content">
                            <div class="radio_block">
                              <input class="input_radio" name="discount" type="checkbox" id="rb-1"> 
                              <label class="label_radio standart_title standart_title_6 color_black" for="rb-1">Акумулятори</label>
                            </div>
                            <div class="radio_block">
                              <input class="input_radio" name="discount" type="checkbox" id="rb-2"> 
                              <label class="label_radio standart_title standart_title_6 color_black" for="rb-2">Контролери</label>
                            </div>
                            <div class="radio_block">
                              <input class="input_radio" name="discount" type="checkbox" id="rb-3"> 
                              <label class="label_radio standart_title standart_title_6 color_black" for="rb-3">Мотори</label>
                            </div>
                            <div class="radio_block">
                              <input class="input_radio" name="discount" type="checkbox" id="rb-4"> 
                              <label class="label_radio standart_title standart_title_6 color_black" for="rb-4">Вилки</label>
                            </div>
                            <div class="radio_block">
                              <input class="input_radio" name="discount" type="checkbox" id="rb-5"> 
                              <label class="label_radio standart_title standart_title_6 color_black" for="rb-5">Колеса</label>
                            </div>
                            <div class="radio_block">
                              <input class="input_radio" name="discount" type="checkbox" id="rb-6"> 
                              <label class="label_radio standart_title standart_title_6 color_black" for="rb-6">Гальма</label>
                            </div>
                          </div>
                          
                        </div>
                        <div class="items_filter_content__wrap">
                          <div class="items_filter_title standart_title standart_title_4 color_black">
                            Рами
                          </div>
                          <div class="items_filter_content">
                            <div class="radio_block">
                              <input class="input_radio" name="discount" type="checkbox" id="rb-1"> 
                              <label class="label_radio standart_title standart_title_6 color_black" for="rb-1">Акумулятори</label>
                            </div>
                            <div class="radio_block">
                              <input class="input_radio" name="discount" type="checkbox" id="rb-2"> 
                              <label class="label_radio standart_title standart_title_6 color_black" for="rb-2">Контролери</label>
                            </div>
                            <div class="radio_block">
                              <input class="input_radio" name="discount" type="checkbox" id="rb-3"> 
                              <label class="label_radio standart_title standart_title_6 color_black" for="rb-3">Мотори</label>
                            </div>
                            <div class="radio_block">
                              <input class="input_radio" name="discount" type="checkbox" id="rb-4"> 
                              <label class="label_radio standart_title standart_title_6 color_black" for="rb-4">Вилки</label>
                            </div>
                            <div class="radio_block">
                              <input class="input_radio" name="discount" type="checkbox" id="rb-5"> 
                              <label class="label_radio standart_title standart_title_6 color_black" for="rb-5">Колеса</label>
                            </div>
                            <div class="radio_block">
                              <input class="input_radio" name="discount" type="checkbox" id="rb-6"> 
                              <label class="label_radio standart_title standart_title_6 color_black" for="rb-6">Гальма</label>
                            </div>
                          </div>
                          
                        </div>
                        <div class="items_filter_content__wrap">
                          <div class="items_filter_title standart_title standart_title_4 color_black">
                            Комплектуючі
                          </div>
                          <div class="items_filter_content">
                            <div class="radio_block">
                              <input class="input_radio" name="discount" type="checkbox" id="rb-1"> 
                              <label class="label_radio standart_title standart_title_6 color_black" for="rb-1">Акумулятори</label>
                            </div>
                            <div class="radio_block">
                              <input class="input_radio" name="discount" type="checkbox" id="rb-2"> 
                              <label class="label_radio standart_title standart_title_6 color_black" for="rb-2">Контролери</label>
                            </div>
                            <div class="radio_block">
                              <input class="input_radio" name="discount" type="checkbox" id="rb-3"> 
                              <label class="label_radio standart_title standart_title_6 color_black" for="rb-3">Мотори</label>
                            </div>
                            <div class="radio_block">
                              <input class="input_radio" name="discount" type="checkbox" id="rb-4"> 
                              <label class="label_radio standart_title standart_title_6 color_black" for="rb-4">Вилки</label>
                            </div>
                            <div class="radio_block">
                              <input class="input_radio" name="discount" type="checkbox" id="rb-5"> 
                              <label class="label_radio standart_title standart_title_6 color_black" for="rb-5">Колеса</label>
                            </div>
                            <div class="radio_block">
                              <input class="input_radio" name="discount" type="checkbox" id="rb-6"> 
                              <label class="label_radio standart_title standart_title_6 color_black" for="rb-6">Гальма</label>
                            </div>
                          </div>
                          
                        </div>
                        
                        </form>
                    </div> 
                </div> 
            </div>
            <div class="product_content">
              <div class="mini_navigate-block">
                <a href="#" class="mini_nav_name sub_title sub_title_2 color_black_2">
                  Головна
                </a>
                <span class="slash sub_title sub_title_2 color_black">
                    /
                </span>
                <a href="#" class="mini_nav_name sub_title sub_title_2 color_black_2">
                  Магазин
                </a>
                <span class="slash sub_title sub_title_2 color_black">
                    /
                </span>
                <a href="#" class="mini_nav_name sub_title sub_title_2 color_black_2">
                  Комплектуючі
                </a>
                <span class="slash sub_title sub_title_2 color_black">
                    /
                </span>
                <a href="#" class="mini_nav_name sub_title sub_title_2 color_black_2">
                  Амортизатори
                </a>
            </div>
                <h2 class="product_title main__title main__title_3 color_black">
                  Амортизатори
                </h2>
                
                <div class="main_product-block">
                    <div class="product_card-prof">
                        <a href="#" class="prod_card_link">
                            <img src="/static/source/img/item/img-0041.jpg" alt="" class="prod_card-img">
                        </a>
                        <div class="prod_card_info__wrap">
                          <div class="prod_card-name standart_title standart_title_4 color_black">
                            Амортизатор DNM RCP-2
                          </div>
                          <div class="prod_card-info">
                              <div class="prod_card-cost main__title main__title_5 color_black">
                                  1022 грн.
                              </div>
                              <a href="#" class="prod_card-btn">
                                  <img class="absolute_center" src="/static/source/img/items/okey.svg" alt="">
                              </a>
                          </div>
                        </div>
                    </div>
                    <div class="product_card-prof">
                      <a href="#" class="prod_card_link">
                          <img src="/static/source/img/item/img-0041.jpg" alt="" class="prod_card-img">
                      </a>
                      <div class="prod_card_info__wrap">
                        <div class="prod_card-name standart_title standart_title_4 color_black">
                          Амортизатор DNM RCP-2
                        </div>
                        <div class="prod_card-info">
                            <div class="prod_card-cost main__title main__title_5 color_black">
                                1022 грн.
                            </div>
                            <a href="#" class="prod_card-btn">
                                <img class="absolute_center" src="/static/source/img/items/okey.svg" alt="">
                            </a>
                        </div>
                      </div>
                  </div>
                  <div class="product_card-prof">
                        <a href="#" class="prod_card_link">
                            <img src="/static/source/img/item/img-0041.jpg" alt="" class="prod_card-img">
                        </a>
                        <div class="prod_card_info__wrap">
                          <div class="prod_card-name standart_title standart_title_4 color_black">
                            Амортизатор DNM RCP-2
                          </div>
                          <div class="prod_card-info">
                              <div class="prod_card-cost main__title main__title_5 color_black">
                                  1022 грн.
                              </div>
                              <a href="#" class="prod_card-btn">
                                  <img class="absolute_center" src="/static/source/img/items/okey.svg" alt="">
                              </a>
                          </div>
                        </div>
                    </div>
                    <div class="product_card-prof">
                        <a href="#" class="prod_card_link">
                            <img src="/static/source/img/item/img-0041.jpg" alt="" class="prod_card-img">
                        </a>
                        <div class="prod_card_info__wrap">
                          <div class="prod_card-name standart_title standart_title_4 color_black">
                            Амортизатор DNM RCP-2
                          </div>
                          <div class="prod_card-info">
                              <div class="prod_card-cost main__title main__title_5 color_black">
                                  1022 грн.
                              </div>
                              <a href="#" class="prod_card-btn">
                                  <img class="absolute_center" src="/static/source/img/items/okey.svg" alt="">
                              </a>
                          </div>
                        </div>
                    </div>
                    <div class="product_card-prof">
                        <a href="#" class="prod_card_link">
                            <img src="/static/source/img/item/img-0041.jpg" alt="" class="prod_card-img">
                        </a>
                        <div class="prod_card_info__wrap">
                          <div class="prod_card-name standart_title standart_title_4 color_black">
                            Амортизатор DNM RCP-2
                          </div>
                          <div class="prod_card-info">
                              <div class="prod_card-cost main__title main__title_5 color_black">
                                  1022 грн.
                              </div>
                              <a href="#" class="prod_card-btn">
                                  <img class="absolute_center" src="/static/source/img/items/okey.svg" alt="">
                              </a>
                          </div>
                        </div>
                    </div>
                    <div class="product_card-prof">
                        <a href="#" class="prod_card_link">
                            <img src="/static/source/img/item/img-0041.jpg" alt="" class="prod_card-img">
                        </a>
                        <div class="prod_card_info__wrap">
                          <div class="prod_card-name standart_title standart_title_4 color_black">
                            Амортизатор DNM RCP-2
                          </div>
                          <div class="prod_card-info">
                              <div class="prod_card-cost main__title main__title_5 color_black">
                                  1022 грн.
                              </div>
                              <a href="#" class="prod_card-btn">
                                  <img class="absolute_center" src="/static/source/img/items/okey.svg" alt="">
                              </a>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="prod_card_more standart_title standart_title_4 color_black">
                    Більше товарів
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
  </section>
<!-- /.prod_header -->
{% include 'project/includes/footer.html' %}
  <!-- /.footer -->
</main>
{% endblock content %}
{% block scripts %}
<script src="/static/source/lib/jquery/index.js"></script> 
<script src="/static/source/lib/slick/slick.min.js"></script> 
<script src="/static/source/lib/wow/wow.min.js"></script> 
<script src="/static/source/lib/lazyload/lazyloadxt.extra.js"></script> 
<script src="/static/source/lib/validation/validation.min.js"></script> 
<script src="/static/source/lib/nouislider/nouislider.min.js"></script> 
<script src="/static/development/components/module/form_errors/index.js"></script> 
<script src="/static/source/lib/fancybox/jquery.fancybox.min.js"></script> 
<script src="/static/source/pages/items/index.js"></script> 
{% endblock scripts %}



