{% extends 'project/base.html' %}
{% load i18n sw_content %}
{% block styles %}
<link rel="stylesheet" href="/static/source/pages/items/index.css.map">
<link rel="stylesheet" href="/static/source/pages/profile/index.css.map">
<link rel="stylesheet" href="/static/source/lib/slick/slick.min.css">
<link rel="stylesheet" href="/static/source/lib/slick/slick-theme.css">
<link rel="stylesheet" href="/static/source/lib/fancybox/jquery.fancybox.min.css">
<link rel="stylesheet" href="/static/source/pages/item/index.css?v=3">
<link rel="stylesheet" href="/static/source/pages//login/index.css">
<link rel="stylesheet" href="/static/source/pages/profile/index.css?v=3">
{% endblock styles %}
{% block content %}
<main class="item_section__wrapper">
  
  <section class="item_tab profile_tab padding_sect">
    {% render 'cabinet' as cabinet %}
    <div class="profile_name main__title main__title_2 color_black db_content" data-admin_url="{{cabinet.get_admin_url}}">
      {{cabinet.text}}
      <!-- Особистий кабінет -->
    </div>
    <div class="sub_profile__block">
      <div class="sub_mail main__title main__title_4 color_black">
        {{request.user.username}} {% if request.user.email %} ({{request.user.email}}) {% endif %}
      </div>
      <a href="{% url 'sw_logout' %}" class="exit_profile main_sub_title main_sub_title_3">
        {% trans 'Вийти' %}
      </a>
    </div>
    <div class="tab_container">
      <div class="item_tab_link__block">

        <div data-tab="1" class="item_tab_link standart_title standart_title_3 color_black item_tab_link_active">
          {% trans 'Історія покупок' %}
        </div>

        <div data-tab="2" class="item_tab_link standart_title standart_title_3 color_black">
          {% trans 'Програма лояльності' %}
        </div>
        
        <div data-tab="3" class="item_tab_link item_tab_link_3 standart_title standart_title_3 color_black">
          {% trans 'Налаштування профілю' %}
        </div>

      </div>
      <div class="item_tab_content__block">
        
        <!-- Історія покупок -->
        <div id="1" class="item_tab_content item_tab_content_active">
          <div class="profile_content__wrap">
            <!-- <div class="profile_warning__block">
                  <div class="warning_text">
                    У вас все ще немає покупок. Оберіть категорію товару для покупки. 
                  </div>
                  <a href="#" class="ultra_link sub_title sub_title_2 color_yellow">
                    Категорії товарів
                  </a>
                </div> -->
            <div class="profile_attributes__block">
              <div class="profile_attr_name standart_title standart_title_6 color_black attr_size_1">
                Фото
              </div>
              <div class="profile_attr_name standart_title standart_title_6 color_black attr_size_2">
                Назва
              </div>
              <div class="profile_attr_name standart_title standart_title_6 color_black attr_size_3">
                К-сть 
              </div>
              <div class="profile_attr_name standart_title standart_title_6 color_black attr_size_4">
                Дата 
              </div>
              <div class="profile_attr_name standart_title standart_title_6 color_black attr_size_5">
                Ціна 
              </div>
            </div>
            {% for cart_item in '123456789'|make_list %}
            <a href="{% url 'item' 1 %}">
            <div class="profile_item">
              <div class="profile_characteristick attr_size_1">
                <img src="/static/source/img/item/img-0041.jpg" alt="">
              </div>
              <div class="profile_characteristick standart_title standart_title_4 color_black attr_size_2">
                Товар {{cart_item}}
              </div>
              <div class="profile_characteristick standart_title standart_title_4 color_black attr_size_3">
                {{cart_item}} шт.
              </div>
              <div class="profile_characteristick standart_title standart_title_4 color_black attr_size_4">
                16.0{{cart_item}}.2020
              </div>
              <div class="profile_characteristick standart_title standart_title_4 color_black attr_size_5">
                {{cart_item}}223 грн.
              </div>
            </div>
            </a>
            {% endfor %}
          </div>
        </div>


        <!-- Програма лояльності -->
        <div id="2" class="item_tab_content">
          <div class="profile_content__wrap">
            <!-- <div class="profile_warning__block">
              <div class="warning_text">
                У вас поки що немає спеціальних пропозицій.
              </div>
              <a href="#" class="ultra_link sub_title sub_title_2 color_yellow">
                Категорії товарів
              </a>
            </div> -->
            <div class="profile_attributes__block">
              <div class="profile_attr_name standart_title standart_title_6 color_black attr_size_10">
                Назва
              </div>
              <div class="profile_attr_name standart_title standart_title_6 color_black attr_size_11">
                Знижка
              </div>
              <div class="profile_attr_name standart_title standart_title_6 color_black attr_size_12">
                Термін дії  
              </div>
              <div class="profile_attr_name standart_title standart_title_6 color_black attr_size_13">
                Дія  
              </div>
            </div>
            {% for sale_item in '123456789'|make_list %}
            <div class="profile_item">
              <div class="profile_characteristick standart_title standart_title_4 color_black attr_size_10">
                Категорія {{sale_item}}
              </div>
              <div class="profile_characteristick standart_title standart_title_4 color_black attr_size_11">
                {{sale_item}}5%
              </div>
              <div class="profile_characteristick standart_title standart_title_4 color_black attr_size_12">
                16.03.2020-10.06.2020
              </div>
              <div class="profile_characteristick standart_title standart_title_4 color_black attr_size_13">
                <a href="{% url 'shop' %}">
                <div class="btn_standart btn_standart_transparent">
                    В магазин 
                  </div>
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>


        <!-- Налаштування профілю -->
        <div id="3" class="item_tab_content">
          <form action="/api/users/{{request.user.id}}/" class="change_profile registery_form PATCH">
            <div class="footer_input__wrap inp-vak-wrap">
              <label for="login_name" class="login_label label__style color_black">
                Ім'я та прізвище
              </label>
              <input type="text" id="login_name" name="first_name" value="{% if request.user.full_name %}{{request.user.full_name}}{% endif %}" class="login_name login_input input_focus">
            </div>
            <div class="footer_input__wrap inp-vak-wrap">
              <label for="login_mail" class="login_label label__style color_black">
                E-mail
              </label>
              <input type="text" id="login_mail" name="email" value="{% if request.user.email %}{{request.user.email}}{% endif %}" class="login_mail login_input input_focus">
            </div>
            <div class="footer_input__wrap inp-vak-wrap">
              <label for="login_tel" class="login_label label__style color_black">
                Телефон
              </label>
              <input type="tel" id="login_tel" name="phone_number" value="{% if request.user.phone_number %}{{request.user.phone_number}}{% endif %}" class="login_tel login_input input_focus">
            </div>
            <div class="footer_input__wrap inp-vak-wrap">
              <label for="login_city" class="login_label label__style color_black">
                Місто
              </label>
              <input type="text" id="login_city" name="address" value="{% if request.user.address %}{{request.user.address}}{% endif %}" class="login_city login_input input_focus">
            </div>
            <div class="footer_input__wrap inp-vak-wrap">
              <label for="login_old_pass" class="login_label label__style color_black">
                Пароль
              </label>
              <input type="password" id="login_old_pass" name="old_password" class="login_old_pass login_input input_focus">
            </div>
            <div class="footer_input__wrap inp-vak-wrap">
              <label for="login_pass" class="login_label label__style color_black">
                Новий Пароль
              </label>
              <input type="password" id="login_pass" name="pass1" class="login_pass login_input input_focus">
            </div>
            <div class="footer_input__wrap inp-vak-wrap">
              <label for="login_pass2" class="login_label label__style color_black">
                Повторіть пароль
              </label>
              <input type="password" id="login_pass2" name="password2" class="login_pass2 login_input input_focus">
            </div>
            <div class="pass_checked_error"></div>
            <div class="bottom_registery__block">
              <input type="submit" value="Зберегти" class="btn_standart btn_standart_yellow">
            </div>
          </form>
        </div>


      </div>
    </div>
  </section>
</main>
{% endblock content %}
{% block scripts %}
<script src="/static/source/lib/jquery/index.js"></script> 
<script src="/static/source/lib/slick/slick.min.js"></script> 
<script src="/static/source/lib/wow/wow.min.js"></script> 
<script src="/static/source/lib/lazyload/lazyloadxt.extra.js"></script> 
<script src="/static/source/lib/validation/validation.min.js"></script> 
<script src="/static/development/components/module/form_errors/index.js"></script> 
<script src="/static/source/lib/fancybox/jquery.fancybox.min.js"></script> 
<script src="/static/source/pages/profile/index.js"></script> 
{% endblock scripts %}



